
body {
    background-color: #fafafa;
}
header {
    height: 10vh;
}

.instagram {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.instagram a {
    text-decoration: none;
}

.topo-instagram {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    /* box-shadow: -2px -2px 10px; */
    color:#dbdbdb;
    height: 77px;
}

.topo-instagram a {
    color: black;
}

.board{
    height: 90vh;
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}

.perfil {
    position: absolute;
    right: 100%;
    top: 0;
}

.float-button{
    position: fixed;
    bottom: 20px;
    right: 0;
    margin-right: 10%;
}

.float-button:hover{
    color: palevioletred;
    text-decoration: none;
}

.float-button:active{
    color:#fff;
    background-color: palevioletred;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition: 0.3s;
}

#cardimg {
    max-width: 100%;
}

.postar:hover {
    font-weight: bold;
}